# Debugging.
snippet clg
console.log(${0});
endsnippet


# Namespace
snippet nsp
(function ($, window, document, undefined){
  'use strict';

  var DD = window.DD || {};

  DD.${1:SUBDOMAIN} = {
	  config: {
		  $2
		},
		$3: function() {
		  $0
		}
	};
})(jQuery, this, this.document);
endsnippet

